.about {
    width: 100%;
    height: 100%;
    /* background-color: aqua; !* url("./assets/tube_amp.jpg");*!*/
    background-image: url("./assets/tube_amp2.jpg");
    /*    z-index: 15000;
        background-position: center center;*/
}
